{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
SBKA & BBKA Maps
{% endblock %}

{% block content %}

<!--
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
-->

<div class="container">
  <div class="row">
    <div class="col-sm-8">

      <h1 class="pt-5 pb-2">SBKA & BBKA Maps</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">

      <p class="pt-5"><strong>{{ message }}</strong></p>


      {{ render_form(form, form_type="horizontal") }}
      
     
    </div>  
    <div class="col-sm-8">

      {{ iframe|safe }}

      {% if crunched %}
        <br />
        <a href="\map\{{crunched}}" target="_blank" >Map Permalink</a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}